<section class="container py-5">
  <h1><%= title %></h1>
  <form class="py-3" action="" method="POST">
    <div class="form-group">
      <label for="name">Manufacturer Name:</label>
      <input class="form-control" type="text" name="name" required="true">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</section>