<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <h1>RetroVision Games</h1>
        <ul>
          <li><a href="/inventory">Inventory Home</a></li>
          <li><a href="/inventory/systems">Systems</a></li>
          <li><a href="/inventory/companies">Manufacturers</a></li>
          <li><a href="/inventory/units">Units in Stock</a></li>
          <li><a href="/inventory/system/create">Add System</a></li>
          <li><a href="/inventory/company/create">Add Manufacturer</a></li>
          <li><a href="/inventory/unit/create">Add Unit</a></li>
        </ul>
      </div>
    </nav>
    <%- body %> 
  </body>
</html>
