<div class="container my-5">
  <h1><%= title %> </h1>
  <h2><%= unit.system.name %> </h2>
  <form action="" method="POST">
    <div class="form-group">
      <input type="hidden" name="id" id="id" value="<%= unit._id %>" required>
      <input type="submit" class="btn btn-warning" value="Delete">
    </div>
  </form>
</div>